:root {
	--primary: #f0f4fa;
	--secondary: #2681f8;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	background-color: var(--primary);
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px 40px;
}

nav h2 {
	color: var(--secondary);
	font-size: 30px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.icon {
	padding: 2px 7px;
	border-radius: 50%;
	margin: 0 9px;
	background: var(--secondary);
	color: var(--primary);
	font-size: 28px;
}

.bold {
	font-weight: 600;
	padding-top: 5px;
}

.material-icons {
	font-size: 22px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 20px auto;
	gap: 40px;
}

img {
	width: 100px;
	height: 100px;
}
